<h1 class="display-4">Add A Contact</h1>

<form #form="ngForm" [autocomplete]="false">
  <input
    type="hidden"
    name="id"
    #id="ngModel"
    [(ngModel)]="service.formData.id"
  />
  <div class="form-group">
    <input
      class="form-control"
      name="name"
      #name="ngModel"
      [(ngModel)]="service.formData.name"
      placeholder="Name"
      required
    />
    <div *ngIf="name.invalid && name.touched" class="validation-error">
      This Field is required.
    </div>
  </div>
  <div class="form-group">
    <input
      class="form-control"
      name="email"
      #email="ngModel"
      [(ngModel)]="service.formData.email"
      placeholder="Email"
    />
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <select
        name="role"
        class="form-control"
        #role="ngModel"
        [(ngModel)]="service.formData.role"
        required
      >
        <option selected value="Buyer">Buyer</option>
        <option value="Seller">Seller</option>
      </select>
    </div>
    <div class="form-group col-md-6">
      <input
        class="form-control"
        name="mobile"
        #mobile="ngModel"
        [(ngModel)]="service.formData.mobile"
        placeholder="Mobile"
        required
      />
      <div *ngIf="mobile.invalid && mobile.touched" class="validation-error">
        This Field is required.
      </div>
    </div>
  </div>
  <div class="form-group">
    <input
      type="text"
      class="form-control mb-2"
      name="add1"
      #add1="ngModel"
      [(ngModel)]="service.formData.address[0]"
      placeholder="Address Line 1*"
      required
    /><input
      type="text"
      name="add2"
      #add2="ngModel"
      class="form-control mb-2"
      [(ngModel)]="service.formData.address[1]"
      placeholder="Address Line 2*"
      required
    /><input
      type="text"
      name="add3"
      #add3="ngModel"
      class="form-control"
      [(ngModel)]="service.formData.address[2]"
      placeholder="Address Line 3"
    />
  </div>
  <div class="form-group">
    <a class="btn btn-lg btn-block btn-info" (click)="onSubmit()">
      SUBMIT
    </a>
  </div>
</form>
