<table class="table table-hover">
  <thead>
    <th>Name</th>
    <th>Role</th>
    <th>Mobile</th>
    <th></th>
  </thead>
  <tbody>
    <tr *ngFor="let contact of service.contacts">
      <td (click)="onEdit(contact)">{{ contact.name }}</td>
      <td (click)="onEdit(contact)">{{ contact.role }}</td>
      <td (click)="onEdit(contact)">{{ contact.mobile }}</td>
      <td>
        <a class="btn text-danger" (click)="onDelete(contact.id)"
          ><fa-icon [icon]="faTrashAlt"></fa-icon
        ></a>
      </td>
    </tr>
  </tbody>
</table>
