<!-- Image and text -->
<nav class="navbar mb-3 navbar-light bg-light">
  <a class="navbar-brand" routerLink="/">
    <img
      src="https://delan5sxrj8jj.cloudfront.net/html/thumb/tally.abb4cc7d0535.png"
      width="30"
      height="30"
      class="d-inline-block align-top"
      alt=""
    />
    Tally Clone
  </a>

  <ul class="nav">
    <li *ngIf="!authService.isLoggedIn">
      <a class="nav-link" [routerLink]="['/login']">Sign In</a>
    </li>
    <li *ngIf="!authService.isLoggedIn">
      <a class="nav-link" [routerLink]="['/register']">Sign Up</a>
    </li>
    <li *ngIf="authService.isLoggedIn">
      <a class="nav-link" (click)="authService.signOut()" href="#">Logout</a>
    </li>
  </ul>
</nav>
