<app-authentication heading="Sign In">
  <div form>
    <form action="#" method="post">
      <div class="form-left-to-w3l">
        <span class="fa fa-envelope-o" aria-hidden="true"></span>
        <input type="email" name="email" placeholder="Email" required="" />

        <div class="clear"></div>
      </div>
      <div class="form-left-to-w3l ">
        <span class="fa fa-lock" aria-hidden="true"></span>
        <input
          type="password"
          name="password"
          placeholder="Password"
          required=""
        />
        <div class="clear"></div>
      </div>
      <div class="ml-4 text-left">
        <input type="checkbox" id="remember-me" class="form-check-input" />
        <label for="remember-me" class="form-check-label">Remember me </label>
      </div>
      <div class="form-group mx-3 mb-2 mt-3">
        <a class="btn btn-block btn-warning text-light">Sign In</a>
      </div>
      <app-google-login-button
        classes="form-group mx-3 mb-3"
      ></app-google-login-button>
    </form>
    <div class="w3layouts_more-buttn">
      <a href="#">Forgot password...?</a>
      <h3 class="mt-2">
        Are You New Here..?
        <a [routerLink]="['/register']">Sign Up</a>
      </h3>
    </div>
  </div>
</app-authentication>
