<div class="mt-4 mb-5">
  <div class="mid-class">
    <div class="img-right-side px-5 pt-5">
      <h3>Manage Your Business</h3>
      <p>
        This is a startup which can help you manage your business i.e., your
        purchases, sales, contacts, products as well as employee. Therefore, it
        is a complete solution for all your business needs.
      </p>
      <img src="assets/b11.png" class="img-fluid" alt="" />
    </div>
    <div class="txt-left-side p-5">
      <div
        class="h4 py-2 px-3 mb-4"
        style="border-bottom: 1px solid black; border-top: 1px solid black;"
      >
        <div
          style="margin: 0 auto; border-left: 1px solid black; border-right: 1px solid black;"
        >
          {{ heading }}
        </div>
      </div>
      <ng-content select="[form]"></ng-content>
    </div>
  </div>
</div>
